.logout-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .logout-button {
    background-color: #d9534f;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #c9302c;
  }
  